
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #e2c2e4; */
}

.login-form {
    background-color: rgb(255, 255, 255);
    width: 550px;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 2px 0 #ccc;
}

.login-form .login-header{
    margin-bottom: 10px;
}

.login-form .line {
    width: 100%;
    height: 1px;
    background-color: #ebe9e9;
    margin: 10px 0 20px 0;
}

.login-form .login-header h2 {
    text-align: center;
    margin-bottom: 10px;
}

form .form-group label {
    font-size: 15px;
    font-weight: 600;
    display: block;
    margin: 10px 0 10px 0;
}

form .form-group input {
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

form .button-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0 10px 0;
    gap: 10px;
}

.button-group button {
    padding: 10px 20px;
    border-radius: 6px;
    background-color: cadetblue;
    color: white;
    font-weight: 700;
    border: none;
    box-shadow: 0 0 2px #ccc;
    transition: 0.2s ease-out;
}

.button-group button:hover {
    background-color: #3a5d8f;
}

.button-group button a {
    color: white;
    text-decoration: none;
}

form .forget-password a {
    text-decoration: none;
    color: #3a5d8f;
    font-weight: 600;
}

form .forget-password a:hover {
    text-decoration: underline;
}

form .forget-password {
    margin: 10px 0 10px 0;
}


/* -------toast----------- */

.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.toast {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    animation: fadeOut 4s forwards;
}

.toast.error {
    background-color: #f44336;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; transform: translateX(100%); }
}