<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do & Service Reminder Application</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="navbar">
        <div class="nav-header">
            <h1>USABILITY HUB</h1>
        </div>
        <div class="navlinks">
            <ul>
                <li><a href="{{ url_for('get_task') }}">ToDo</a></li>
                <li><a href="#">Service Reminder</a></li>
                <li><a href="#" class="primary-button">Sign in</a></li>
                <li><a href="#" class="secondary-button">Sign up</a></li>
            </ul>
        </div>
    </div>
    <main>
        {% block content %}{% endblock %}
    </main>
    <script src="/static/colorcode.js"></script>
</body>
</html>
